{% extends "base.html" %}
{% block title %}Transcribe{% endblock %}

{% block content %}
 <script type="text/javascript">
      var $ = jQuery;
      
      function reload_text() {
          $('#ocrtext').val('');
          $.ajax({  url : '{{task.content['texturl']}}',
                    cache: false,
                    success: function(data) {
                        $('#ocrtext').val(data);
                        //alert('Load was performed.');
                        }
                });
        }
      
      function update_text() {
          var text = $('textarea#ocrtext').val();
          $.ajax({ type: 'POST',
                   url : '/update/{{task.content['id']}}', 
                   data : { 'text' : text, 'id' : {{task.content['id']}} },
                   success: function() { alert('Save was performed.'); }
                   });
        }
        
      $(document).ready(function(){
            $("#viewer").iviewer(
                 {
                 src: "{{task.content['imageurl']}}", 
                 update_on_resize: false,
                 initCallback: function ()
                 {
                     var object = this;
                     $("#in").click(function(){ object.zoom_by(1);}); 
                     $("#out").click(function(){ object.zoom_by(-1);}); 
                     $("#fit").click(function(){ object.fit();}); 
                     $("#orig").click(function(){  object.set_zoom(100); }); 
                     $("#update").click(function(){ object.update_container_info();});
                 },
                 onMouseMove: function(object, coords) { },
                 onStartDrag: function(object, coords) { return true; }, //this image will not be dragged
                 onDrag: function(object, coords) { }
            });
            
            reload_text();

      });
  </script>
  <div class="meta">
    <form action="" method="post">
      <input type="submit" value="Nothing to do (no table here)"
        name="nothingtodo" />
      <input type="submit" value="Give me another (skip this)"
        name="skip" />
      <input type="submit" value="I've finished this one" name="complete" />
      <br />
      <label for="title">Title</label><input type="text" name="title" value="{{task.content['title']}}" />
    </form>
  </div>

  <div class="left-pane">
    <div id="viewer" class="viewer"></div>
  </div>

  <div class="right-pane">
    <div class="gdoc">
      <textarea id="ocrtext"></textarea>
      <input type="button" value="Reload" onclick="reload_text()"></input><input type="button" value="Save" onclick="update_text()"></input>
    </div>
  </div>
{% endblock %}
