@import url(openspending.css);

/** general **/
header #site-title {
  margin-left: 0;
}

#content {
  padding: 20px;
}

#content h2 {
  font-size: 200%;
}

div.left-pane {
  width: 47%;
  float: left;
}

div.right-pane {
  width: 47%;
  margin-left: 50%;
}

/** front page **/

div.do-task {
}

.do-task h2 {
  text-align: center;
  padding-top: 200px;
  font-size: 250%;
}

.frontpage p {
  font-size: 120%;
}

.frontpage .right-pane img {
  width: 80%;
}

/** transcribe **/

div.image img {
  width: 100%;
}

div.meta {
}

div.gdoc {
}

div.meta {
  margin-bottom: 20px;
  margin-bottom: solid 2px #e2e2e2;
  font-size: 140%;
}

.meta label {
  margin-right: 5px;
}


/** Transcribe Window **/

#ocrtext {
 height: 380px;
 width: 100%;
 }    

/** Override **/

div.container {
  width: 90%;
  }
